{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemstone Heaven</title>
    <link rel="shortcut icon" href="{%  static 'store/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'store/css/styles2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Navbar -->
    <header>
        <nav>
            <div>
                <a href="{% url 'home' %}"" class=" logo">Govindam Gems</a>
            </div>
            <div class="nav1">
                <ul class="nav12">
                    {% if user.is_authenticated and user.is_superuser %}
                    <li>
                        <a href="{% url 'adminpanel' %}">Admin Panel</a>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle">Gem Stones</a>
                            <div class="dropdown-menu">
                                {% for category in categories %}
                                    <a href="{% url 'category' category.id %}">
                                        {{ category.category_name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>
                    <form method="GET" action="{% url 'search_view' %}">
                        <div class="search-box">
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit" value="Search"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                    <div class="logout">
                        <a href="{% url 'logout_view' %}">Logout</a>
                    </div>
                    {% else %}
                    <div class="login">
                        <a href="{% url 'signin' %}">Login</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <main>
        <!-- Home Section -->
        {% block content %}
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="footer">
        <p>Contact us: govindamgems0001@gmail.com | +91 9351772987</p>
        <p>Follow us on <a href="https://www.instagram.com/govindam8867/"><i class="fa-brands fa-instagram"></i>
                Instagram</a>, and <a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a>.</p>
    </footer>
</body>

</html>