{% extends 'store/base.html' %}
{% block content %}
<div class="container">
    <h1>Are you sure you want to delete {{ jewel.jewel_name }}?</h1>
    <form method="post">
        {% csrf_token %}
        <span>
            <button type="submit" style="background-color: crimson;">Yes</button>
        </span>
        <span>
            <button>
                <a style="color: black; text-decoration: none;" href="{% url 'adminpanel' %}"> No </a>
            </button>
        </span>
    </form>
</div>
{% endblock content %}