{% extends "store/base.html" %}
{% block content %}

<div class="detail_container">
    <div class="cover-image" style="background-image: url('{{jewel.jewel_image.url}}');">
        <div class="cover-title">{{jewel.jewel_category}}</div>
    </div>
    <div class="det_cont1">
        <div style="width: min-content;">
            <h2 style="color: black;">{{jewel.jewel_name}}</h2>
            <h3>{{jewel.jewel_description}}</h3>
            <h4>Rs. {{jewel.jewel_price}} per ct</h4>
        </div>
        <div class="cart">
            <button><i class="fa-solid fa-cart-shopping"></i></button>
            <button>Buy now</button>
        </div>
    </div>
</div>
{% endblock content %}
