{% extends "store/base.html" %}
{% block content %}

<div class="detail_container">
    <div class="cover-image" style="background-image: url('{{jewel.jewel_image_url}}');">
        <div class="cover-title">{{jewel.jewel_category}}</div>
    </div>
    <div class="det_cont1">
        <h2 style="color: black;">{{jewel.jewel_name}}</h2>
        <div>
            <h3>Size:<span>{{jewel.jewel_size}}</span> </h3>
            <h3>Weight: <span>{{jewel.jewel_weight}} Carat </span></h3>
            <h3>Origin: <span>{{jewel.jewel_origin}}</span></h3>
            <h4>Rs.<span>{{jewel.jewel_price}} Per Carat </span></h4>
        </div>
        <div class="cart">
            <button><i class="fa-solid fa-cart-shopping"></i></button>
            <button>Buy now</button>
        </div>
    </div>
</div>
{% endblock content %}
